@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand");

body {
  font-family: "Quicksand", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h2,
h1 {
  color: white;
}

.choose_btn,
form {
  font-family: "Quicksand", "Arial", sans-serif;
  color: white;
  padding-bottom: 10px;
}

.upload_btn {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-family: "Quicksand", "Arial", sans-serif;
}

input > value {
  font-family: "Quicksand", "Arial", sans-serif;
}
